
<div class="container">
  <div class="row">
    Widget 1: <a href="#/widgets/atorget.aftenbladet/horizontal.html">atorget.aftenbladet-horizontal</a>
    <br/>
    Widget 2: <a href="#/widgets/atorget.aftenbladet/vertical.html">atorget.aftenbladet-vertical</a>
  </div>
  <br/>
  <div class="row">
    <style>
      iframe {
        overflow: hidden;
        border: none;
      }
    </style>
    <iframe src="#/widgets/atorget.aftenbladet/horizontal.html" width="920" height="140"></iframe>
    <br/><br/>
    <iframe src="#/widgets/atorget.aftenbladet/vertical.html" width="160" height="600"></iframe>
  </div>
</div>
